Source: xezmlm
Section: contrib/admin
Priority: optional
Maintainer: Turbo Fredriksson <turbo@debian.org>
Standards-Version: 2.5.1

Package: xezmlm
Architecture: any
Depends: perl5, perl-tk, ezmlm-idx | ezmlm-src
Description: A ezmlm mailinglist configuration tool for the X Window System
 This is a configuration tool for the ezmlm mailing list
 software, using perl-tk. It'll create the mailinglist
 with all options chosen with simple Radiobuttons (Yes/No).
